# clean up, reformat, and split the data, saving three final csv files; client.csv, campaign.csv, economics.csv

In [2]:
import pandas as pd
import numpy as np

In [39]:
df= pd.read_csv("bank_marketing.csv")
df.head(10)

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no
5,5,45,services,married,basic.9y,unknown,no,may,5,198,1,0,nonexistent,93.994,4.857,no
6,6,59,admin.,married,professional.course,no,no,may,3,139,1,0,nonexistent,93.994,4.857,no
7,7,41,blue-collar,married,unknown,unknown,no,may,12,217,1,0,nonexistent,93.994,4.857,no
8,8,24,technician,single,professional.course,no,yes,may,21,380,1,0,nonexistent,93.994,4.857,no
9,9,25,services,single,high.school,no,yes,may,5,50,1,0,nonexistent,93.994,4.857,no

In [9]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   age                         41188 non-null  int64
 2   job                         41188 non-null  object
 3   marital                     41188 non-null  object
 4   education                   41188 non-null  object
 5   credit_default              41188 non-null  object
 6   mortgage                    41188 non-null  object
 7   month                       41188 non-null  object
 8   day                         41188 non-null  int64
 9   contact_duration            41188 non-null  int64
 10  number_contacts             41188 non-null  int64
 11  previous_campaign_contacts  41188 non-null  int64
 12  previous_outcome            41188 non-null  object
 13  cons_price_idx              41188 non-null  float64
 14  euribor_three_months        41188 non-null  float64
 15  campaign_outcome            41188 non-null  object
dtypes: float64(2), int64(6), object(8)
memory usage: 5.0+ MB

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
count,41188.00000,41188.00000,41188,41188,41188,41188,41188,41188,41188.000000,41188.000000,41188.000000,41188.000000,41188,41188.000000,41188.000000,41188
unique,NaN,NaN,12,4,8,3,3,10,NaN,NaN,NaN,NaN,3,NaN,NaN,2
top,NaN,NaN,admin.,married,university.degree,no,yes,may,NaN,NaN,NaN,NaN,nonexistent,NaN,NaN,no
freq,NaN,NaN,10422,24928,12168,32588,21576,13769,NaN,NaN,NaN,NaN,35563,NaN,NaN,36548
mean,20593.50000,40.02406,NaN,NaN,NaN,NaN,NaN,NaN,15.730334,258.285010,2.567593,0.172963,NaN,93.575664,3.621291,NaN
std,11890.09578,10.42125,NaN,NaN,NaN,NaN,NaN,NaN,8.889867,259.279249,2.770014,0.494901,NaN,0.578840,1.734447,NaN
min,0.00000,17.00000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,1.000000,0.000000,NaN,92.201000,0.634000,NaN
25%,10296.75000,32.00000,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,102.000000,1.000000,0.000000,NaN,93.075000,1.344000,NaN
50%,20593.50000,38.00000,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,180.000000,2.000000,0.000000,NaN,93.749000,4.857000,NaN
75%,30890.25000,47.00000,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,319.000000,3.000000,0.000000,NaN,93.994000,4.961000,NaN
max,41187.00000,98.00000,NaN,NaN,NaN,NaN,NaN,NaN,31.000000,4918.000000,56.000000,7.000000,NaN,94.767000,5.045000,NaN

## Data Cleanup

In [13]:
cols_to_clean =["job", "education"]
df[cols_to_clean] = df[cols_to_clean].apply(lambda col: col.str.replace(".", "_", regex=False))

In [16]:
df['education'] = df['education'].replace({"unknown": np.nan})

In [18]:
cols_to_bool = ["credit_default", "mortgage", "campaign_outcome"]
df[cols_to_bool] = df[cols_to_bool].apply(lambda col: (col == "yes").astype(int))

In [20]:
df["previous_outcome"] = (df["previous_outcome"] == "success").astype(int)

In [22]:
for col in ["credit_default", "mortgage", "previous_outcome", "campaign_outcome"]:
    print(col)
    print("--------------")
    print(df[col].value_counts())

credit_default
--------------
credit_default
0    41185
1        3
Name: count, dtype: int64
mortgage
--------------
mortgage
1    21576
0    19612
Name: count, dtype: int64
previous_outcome
--------------
previous_outcome
0    39815
1     1373
Name: count, dtype: int64
campaign_outcome
--------------
campaign_outcome
0    36548
1     4640
Name: count, dtype: int64

In [34]:
df["year"] = 2022
df["month"]= df["month"].str.title()
df["last_contact_date"] = pd.to_datetime(df["year"].astype(str)+ " " + 
                                         df["month"] + " " +
                                         df["day"].astype(str),format = "%Y %b %d")
print(df["last_contact_date"].dtype)

datetime64[ns]

## Split Data

In [38]:
split_data = {
    "client.csv": ["client_id", "age", "job", "marital", "education", "credit_default", "mortgage"],
    "campaign.csv": ["client_id", "number_contacts", "contact_duration", "previous_campaign_contacts", "previous_outcome", "campaign_outcome", "last_contact_date"],
    "economics.csv": ["client_id", "cons_price_idx", "euribor_three_months"]
}

for filename, columns in split_data.items():
    missing_cols = [col for col in columns if col not in df.columns]
    if missing_cols:
        print(f"Warning:{filename} is missing columns {missing_cols}")
        continue

    df_subset = df[columns].copy()
    df_subset.to_csv(filename, index = False)
    print(f"Saved {filename} with columns {columns}")

Saved client.csv with columns ['client_id', 'age', 'job', 'marital', 'education', 'credit_default', 'mortgage']
Saved campaign.csv with columns ['client_id', 'number_contacts', 'contact_duration', 'previous_campaign_contacts', 'previous_outcome', 'campaign_outcome', 'last_contact_date']
Saved economics.csv with columns ['client_id', 'cons_price_idx', 'euribor_three_months']